bench_inv
bench_ecdh
bench_sign
bench_verify
bench_recover
bench_internal
tests
*.exe
*.so
*.a
!.gitignore

Makefile
.libs/
config.log
config.status
*.tar.gz
*.la
libtool
.deps/
.dirstamp
*.lo
*.o
*~
src/libsecp256k1-config.h
src/stamp-h1
libsecp256k1.pc
